/* mobile first: phones */
/* @media screen {
  } */

/* @media screen and (max-width: 575px) {
  } */

/* bigger phones */
/* @media screen and (min-width: 576px) {
  } */

/* tablets */
/* @media screen and (min-width: 768px) {
  } */

/* not desktops */
/* @media screen and (max-width: 991px) {
} */

/* desktops */
/* @media screen and (min-width: 992px) {
  } */

/* large desktops */
/* @media screen and (min-width: 1200px) {
  } */

/* extra large devices */
/* @media screen and (min-width: 1200px) {
  } */

/* mobile-specific theme parts */

/* mobile first: phones */
/* @media screen {
  } */

/* bigger phones */
/* @media screen and (min-width: 576px) {
  } */

/* tablets */
/* @media screen and (min-width: 768px) {
  } */

/* desktops */
/* @media screen and (min-width: 992px) {
  } */

/* large desktops */
/* @media screen and (min-width: 1200px) {
  } */

/* extra large devices */
/* @media screen and (min-width: 1200px) {
  } */
