* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

img {
  /* to remove white space below */
  display: block;
}

ol,
ul {
  padding: 0;
  margin: 1em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
